.services {
    overflow: $navOverflow; 
    background-color: $navBgColor;
    position: $navPosition;
    width: $navWidth;
    display: $navDisplay;
    justify-content: $navJustCon;
    align-items: $navAlItems;
    height: $navHeight;
}
.services-h1 {
    color: royalblue;
 
    font: {
        weight: bolder;
        family: cursive;
        size: 190%;
    }
}
.navbar {
    display: flex;
    flex-direction: row;
    background-color: wheat;
}
.services button {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: none;
    cursor: pointer;
    background-color: wheat;
}
.services button:hover {
    background-color: royalblue;
    color: white;
} 
.mapped-services {
    width: 90vw;
    margin: 80px
} 
h1 {
    font: {
        weight: bold;
        family: cursive;
        size: 150%;
    }  
}




// header {
//     display: flex;
//     border: 1px solid black;
//     height: 100px;
//     width: 100vw
// }
// .consult {
//     border: 1px solid black;
//     height: 150px;
//     width: 100vw;
// }
// .letter {
//     border: 1px solid black;
//     height: 150px;
//     width: 100vw
// }
// .basic {
//     border: 1px solid black;
//     height: 150px;
//     width: 100vw
// }
// .moderate {
//     border: 1px solid black;
//     height: 150px;
//     width: 100vw
// }
// .aggressive {
//     border: 1px solid black;
//     height: 150px;
//     width: 100vw
// }
// .inquiries {
//     border: 1px solid black;
//     height: 100px;
//     width: 100vw
// }
