.services {
    overflow: $navOverflow; 
    background-color: $navBgColor;
    position: $navPosition;
    width: $navWidth;
    display: $navDisplay;
    justify-content: $navJustCon;
    align-items: $navAlItems;
    height: $navHeight;
}
.services-h1 {
    color: royalblue;
 
    font: {
        weight: bolder;
        family: cursive;
        size: 190%;
    }
}
.services button {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: none;
    cursor: pointer;
    background-color: wheat;
}
.services button:hover {
    background-color: $btnHovBgColor;
    color: $btnHovTextColor;
} 
.add-cart {
    font-size: 17px;
    cursor: pointer;
    background-color: wheat;
    margin: 5px
}
.add-cart button:hover {
    background-color: $btnHovBgColor;
    color: $btnHovTextColor;
}
.mapped-services {
    width: 90vw;
    margin: 80px
} 
h1 {
    font: {
        weight: bold;
        family: cursive;
        size: 150%;
    }  
}
