.contact-confirm {
    border: 1px solid black;
    height: 100px;
    width: 100vw
}
.contact-thanks {
    border: 1px solid black;
    height: 100px;
    width: 100vw
}

.getstarted-confirm {
    border: 1px solid black;
    height: 100px;
    width: 100vw
}
.getstarted-thanks {
    border: 1px solid black;
    height: 100px;
    width: 100vw
}

.order-confirm {
    border: 1px solid black;
    height: 100px;
    width: 100vw
}
.order-thanks {
    border: 1px solid black;
    height: 100px;
    width: 100vw
}
