//Nav Variables
$navOverflow: hidden;
$navBgColor: wheat;
$navPosition: fixed;
$navWidth: 100%;
$navHeight: 75px;
$navDisplay: flex;
$navJustCon: space-around;
$navAlItems: center;

//Button Hover Variables
$btnHovBgColor: royalblue;
$btnHovTextColor: white;

//H1 Variables
$h1Color: royalblue;
$h1FtWeight: bolder;
$h1FtFamily: cursive;
$h1FtSize: 190%;



.topnav {
    overflow: $navOverflow; 
    background-color: $navBgColor;
    position: $navPosition;
    width: $navWidth;
    display: $navDisplay;
    justify-content: $navJustCon;
    align-items: $navAlItems;
    height: $navHeight;
}
.crc {
    color: $h1Color;
 
    font: {
        weight: $h1FtWeight;
        family: $h1FtFamily;
        size: $h1FtSize;
    }
}
.navbar {
    background-color: $navBgColor;
    display: $navDisplay;
    
}
.topnav button {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: none;
    cursor: pointer;
    background-color: wheat;
}
.topnav button:hover {
    background-color: $btnHovBgColor;
    color: $btnHovTextColor;
}    
.background-container {
    height: 500px;
    width: 100vw;
    border: 1px solid black
}
img {
    height: 500px;
    width: 100vw;
    margin-top: 60px;
}
.expectations {
    height: 200px;
    width: 100vw;
    border: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60px
}
.exp {
    font-size: 190%;
    font-weight: bolder;
    margin: 40px
}
.parexp {
    margin-left:95px;
    margin-right: 95px;
    font-size: 125%;
    flex-wrap: wrap;
}
.process {
    height: 250px;
    width: 100vw;
    border: 1px solid black;
    display: flex;
    align-items: center
}
.proc {
    font-size: 190%;
    font-weight: bolder;
    margin: 30px;
}
.process-boxes {
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
}
.box1 {
    width: 150px;
    height: 150px;
    border: 1px solid black;
}
.box2 {
    width: 150px;
    height: 150px;
    border: 1px solid black
}
.box3 {
    width: 150px;
    height: 150px;
    border: 1px solid black
}
.education {
    height: 250px;
    width: 100vw;
    border: 1px solid black;
    display: flex;
    align-items: center
}
.edu {
    font-size: 190%;
    font-weight: bolder;
    margin: 30px;
    
}
.edbox1 {
    width: 150px;
    height: 150px;
    border: 1px solid black
}
.edbox2 {
    width: 150px;
    height: 150px;
    border: 1px solid black
}
.edbox3 {
    width: 150px;
    height: 150px;
    border: 1px solid black
}
.education-boxes {
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
}

