nav {
    display: flex;
    height: 100px;
    width: 100vw;
    border: 1px solid black
}
.background-container {
    height: 100px;
    width: 100vw;
    border: 1px solid black
}
.expectations {
    height: 100px;
    width: 100vw;
    border: 1px solid black
}
.process {
    height: 150px;
    width: 100vw;
    border: 1px solid black
}
.education {
    height: 100px;
    width: 100vw;
    border: 1px solid black
}
