.contact {
    border: 1px solid black;
    height: 100px;
    width: 100vw
}
.boxes {
    display: flex;
    border: 1px solid black;
    height: 200px;
    width: 100vw
}
.address {
    border: 1px solid black;
    height: 100px;
    width: 150px
}
.phone {
    border: 1px solid black;
    height: 100px;
    width: 150px
}
.email {
    border: 1px solid black;
    height: 100px;
    width: 150px
}
.hours {
    border: 1px solid black;
    height: 100px;
    width: 150px
}.inputs {
    border: 1px solid black;
    height: 200px;
    width: 100vw
}