header {
    height: 75px;
    width: 100vw;
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    color: royalblue;
 
    font: {
        weight: bolder;
        family: cursive;
        size: 190%;
    }
}
.login {
    display: flex;
    justify-content: space-around;
    margin-top: 20px
}
.log {
    font-size: 15px;
    cursor: pointer;
    width: 100px
}
.log button:hover {
    background-color: royalblue;
    color: white;
}  
input {
    height: 20px;
    width: 200px
}  
.return {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 20px
}
.return-button {
    font-size: 15px;
    cursor: pointer;
    height: 30px
}
.return-button button:hover {
    background-color: royalblue;
    color: white;
}
@media (max-width: 578px) {
    .login {
        flex-direction: column;
        align-items: center;
    }  
    header {
        flex-wrap: wrap;
        
    }  
}