header {
    height: 75px;
    width: 100vw;
    background-color: wheat;
    display: flex;
    align-items: center;
   
}
h1 {
    color: royalblue;
 
    font: {
        weight: bolder;
        family: cursive;
        size: 190%;
    }
}
.log {
    font-size: 15px;
    cursor: pointer;
}
.log button:hover {
    background-color: royalblue;
    color: white;
}  
input {
    height: 20px;
    width: 200px
}  